<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.shortlink.mapper.LinkTodayMapper">

    <resultMap id="BaseResultMap" type="com.zhou.shortlink.domain.LinkToday">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fullShortUrl" column="full_short_url" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="todayPv" column="today_pv" jdbcType="INTEGER"/>
            <result property="todayUv" column="today_uv" jdbcType="INTEGER"/>
            <result property="todayUip" column="today_uip" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,full_short_url,date,
        today_pv,today_uv,today_uip,
        create_time,update_time
    </sql>
</mapper>
